form.onboarding > ul#progressbar > li.active {
    font-weight: bold;
}
form.onboarding > ul#progressbar {
  display: flex; list-style: none; justify-content: space-around;
}

form.onboarding > fieldset > div.switch_card_buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
form.onboarding > fieldset > div.switch_card_buttons button:last-child {
    margin-left: auto;
}
.form_group, .multi_input {
    display: flex;
    flex-direction: column;
}
.multi_input {
    align-items: start;
}
.multi_input > input {
    width: 100%;
    align-self: stretch;
}
form.onboarding > fieldset > .form_group + * {
    margin-top: .75rem;
}
form.onboarding textarea {
    width: 100%;
    resize: vertical;
}
