@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Lato&display=swap');

:root {
    font-family: var(--font-normal);
    --font-normal: 'Lato', sans-serif;
    --font-accent: 'Caveat', cursive;
    --type-scale: 1.250;

    --primary-accent: purple;
    --secondary-accent: gold;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-accent);
}
.titanic {
    font-size: 3.815rem
}
h1, .xxxlarge {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3.052rem;
}
h2, .xxlarge {font-size: 2.441rem;}
h3, .xlarge {font-size: 1.953rem;}
h4, .larger {font-size: 1.563rem;}
h5, .large {font-size: 1.25rem;}
h6, .normal {font-size: 1rem;}
small, .small { font-size: 0.8em; }

nav#headerbar {
    background: var(--primary-accent);
    color: whitesmoke;
    border-bottom: .75rem solid var(--secondary-accent);
    padding: .3rem;
    vertical-align: center;
    position: sticky;
    top: 0;
}
nav#headerbar a#homepage {
    font-weight: bolder;
    font-family: var(--font-accent);
    font-size: 2rem;
}
nav#headerbar > ul {
    display: flex;
    padding: inherit;
    margin: inherit;
    gap: .75em;
}
nav#headerbar > ul > li {
    display: inline-flex;
    flex-direction: column;
    marker: none;
    padding: inherit;
    margin: inherit;
    justify-content: center;
}
nav#headerbar > ul > li.shiftright {
    margin-left: auto;
}
nav#headerbar a {
    color: white;
}
body > main {
    max-width: 60rem;
    margin: auto;
    padding: .75rem;
}
.sidebyside {
    display: flex;
    flex-wrap: wrap;
    gap: .75rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.sidebyside > * {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    border: .125rem solid black;
    border-radius: .75rem;
    padding: .75rem;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    flex-basis: 28rem;
    flex-grow: 1;
}
article > * + * {
    margin-top: .75rem;
}
article > header {
    padding-bottom: .75rem;
    border-bottom: 1px solid gray;
}
article > footer {
    border-top: 1px solid gray;
}
article.h-entry, article.h-feed, article.h-card, article.h-event {
    border: 2px solid black;
    border-radius: .75rem;
    padding: .75rem;
    margin-top: .75rem;
    margin-bottom: .75rem;
}
.webinteractions > ul.counters {
    display: inline-flex;
    padding: inherit;
    margin: inherit;
    gap: .75em;
    flex-wrap: wrap;
}
.webinteractions > ul.counters > li > .icon {
    font-size: 1.5em;
}
.webinteractions > ul.counters > li {
    display: inline-flex;
    align-items: center;
    gap: .5em;
}
article.h-entry > header.metadata ul {
    padding-inline-start: unset;
    margin: unset;
}
article.h-entry > header.metadata ul.categories {
    flex-wrap: wrap;
    display: inline-flex;
    list-style-type: none;
}
article.h-entry > header.metadata ul.categories li {
    display: inline;
    margin-inline-start: unset;
}
article.h-entry > header.metadata ul li {
    margin-inline-start: 2.5em;
}
article.h-entry .e-content pre {
    border: 1px solid gray;
    border-radius: 0.5em;
    overflow-y: auto;
    padding: 0.5em;
}
article.h-entry img.u-photo {
    max-width: 80%;
    max-height: 90vh;
    display: block;
    margin: auto;
}
article.h-entry img.u-photo + * {
    margin-top: .75rem;
}
article.h-entry > header.metadata span + span::before {
    content: " | "
}
li.p-category::before {
    content: " #";
}

article.h-entry ul.categories {
    gap: .2em;
}
article.h-card img.u-photo {
    border-radius: 100%;
    float: left;
    height: 8rem;
    border: 1px solid gray;
    margin-right: .75em;
    object-fit: cover;
    aspect-ratio: 1;
}

.mini-h-card img {
    height: 2em;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 100%;
    margin-right: 0.5rem;
}

.mini-h-card * {
    vertical-align: middle;
}

.mini-h-card a {
    text-decoration: none;
}
